button.btn{
    margin: 20px;
    padding: 50px;
    font-family: Roboto, serif;
    width: 500px;
    height: 1000px;
}

button#btn{
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    font-weight: 900;
    font-size: 15px;
    font-style: oblique;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

/*
body{
    font-family: Roboto, sans-serif;
}

.title {
    color: rgba(255, 0, 52, 0.5);
    text-transform: lowercase;
}

h2 {
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
}

.about{
    font-size: 20px;
    font-style: italic;
    font-weight: 900; !* 100-900 *!
}

!*
    1.color
    2.HEX
    3.RGB(A)

    4.text-align : left, center, right

    5.text-decoration: underline, line-through

    6.text-transform: uppercase, lowercase, capitalize;

    7. font-family: roboto, san-serif

    8.font-size: 20px;

    9.font-style: italic;

    10.font-weight: 900;

    11. border: 1px solid #222;

    12.border-radius: 10px;
*!*/
