.to-none{
    background: yellow;
    color: crimson;
    display: none;
}

.to-inline-block{
    background: red;
    display: inline-block;
    height: 500px;
    width: 500px;
}

.to-inline{
    background: red;
    display: inline;
    height: 500px;
}


.to-block{
    background: red;
    display: block;
}

.test{
    height: 500px;
}

/*
.heading-1{
    background: red;
}


.link{
    background: red;
}*/
