.example {
    background-color: red;
    display: inline-block;
    min-width: 200px;

    border: 5px solid #222;

  /*  border-width: 5px;
    border-style: solid;
    border-color: blue;*/

    margin: 20px 10px 30px 40px;
    padding: 20px 10px 30px 40px;
}

/*
.box-1 {
    width: 1000px;
    background-color: red;
}
.box-2 {
    max-width: 1000px;
    background-color: blue;
}
*/

/*
.paragraph {
    background: red;
    min-height: 70px;
}*/
