.block-box {
    display: inline-block;
    width: 800px;
    padding: 50px;
    background-color: red;
}

.relative-box {
    position: static;
    background-color: yellow;
    width: 40%;
    float: left;
    margin-right: 50px;
}

.relative-box2 {
    position: static;
    background-color: #00ff22;
    width: 50%;
    float: left;
}


/*.positioned-box{*/
/*    width: 800px;*/
/*    padding: 50px;*/
/*    background-color: red;*/
/*    position: relative;*/
/*}*/

/*.absolute-box{*/
/*    background-color: yellow;*/
/*    position: absolute;*/
/*    width: 50%;*/
/*}*/


/*.fixed-box{*/
/*    position: fixed;*/
/*    width: 50%;*/
/*    background-color: red;*/
/*    height: 200px;*/
/*    text-align: center;*/
/*    line-height: 200px;*/
/*}*/