.blur{
    filter: blur(5px);
}
.brightness{
    filter: brightness(0.1);
}
.contrast{
    filter: contrast(0.7);
}
.grayscale{
    filter: grayscale(0.5);
}
.huerotate{
    filter: hue-rotate(60deg);
}
.invert{
    filter: invert(90%);
}
.opacity{
    filter: opacity(1);
}

.gradient-box {
    width: 600px;
    height: 400px;
    background: linear-gradient(red, yellow, blue);
    /*background-image: radial-gradient(circle, red, yellow, blue);*/
}